/* start coding here */
input {
  height: 50px;
  width: 240px;
  border-radius: 3px;
}

button {
  width: 120px;
  height: 36px;
  border-color: lightgrey;
  background-color: khaki;
}

input:disabled {
  background-color: lightgrey;
}

input:hover {
  border-color: khaki;
}

button:hover {
  color: pink;
}
